
@media (max-width: 429px) {
    .badge {
      font-size: 9px;
      line-height: 12px;
    }
}

@media (max-width: 729px) {
    .badge {
      font-size: 11px;
      line-height: 16px;
    }
}

@media (min-width: 730px) {
    .badge {
      font-size: 12px;
      line-height: 18px;
    }
}

.badge {
    font-family: montserrat-light;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    margin: 2px 2.5px;
    padding: 0 4px;
    color: #fff;

    .tooltip {
        font-size: 14px;
        padding: 8px 12px;
    }
}
