
@media (max-width: 429px) {
    #rightSection {
        > #webProjects {
            padding: 20px;
        }

        > #languages {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media (min-width: 430px) and (max-width: 729px) {
    #rightSection {
        > #webProjects {
            padding: 46px;
        }

        > #languages {
            padding-left: 46px;
            padding-right: 46px;
        }
    }
}

@media (min-width: 730px) {
    #rightSection {
        position: relative;
        top: -48px;
        margin-bottom: -48px;
        padding-right: 27px;

        > #webProjects {
            padding: 28px 32px;
        }

        > #languages {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
}

#rightSection {
    display: flex;
    flex-direction: column;
    flex: 1.1;

    > #webProjects {
        margin-bottom: 12px;
        background-color: #8acc98;
        color: #fff;
    }

    > #languages {
        > .category-items {
            display: flex;

            > .category-item {
                display: flex;
                margin-top: 0;

                > .category-item-description {
                    margin: 0 0 0 7.5px;
                }
            }

            > .category-item-with-description {
                flex: 1;
            }
        }
    }
}
