
@media (max-width: 429px) {
    #rightSection {
        > #webProjects {
            padding: 20px;
        }

        > #otherSkills {
            padding: 20px;
        }
    }
}

@media (min-width: 430px) and (max-width: 729px) {
    #rightSection {
        > #webProjects {
            padding: 46px;
        }

        > #otherSkills {
            padding: 46px;
        }
    }
}

@media (min-width: 730px) {
    #rightSection {
        position: relative;
        top: -50px;
        margin-bottom: -50px;
        padding-right: 32px;

        > #webProjects {
            padding: 22px 20px;
        }

        > #otherSkills {
            padding: 21px 16px;
        }
    }
}

#rightSection {
    display: flex;
    flex-direction: column;
    flex: 1.45;
    color: #fff;

    > #webProjects {
        background-color: #8acc98;
        color: #fff;
    }

    > #otherSkills {
        color: #1a1818;
    }
}
