
@media (max-width: 429px) {
    #leftSection {
        padding: 10px;
    }
}

@media (min-width: 430px) and (max-width: 729px) {
    #leftSection {
        padding: 30px;
    }
}

@media (max-width: 729px) {
    #leftSection #languages > .category-items {
        flex-direction: column;
    }
}

@media (min-width: 730px) {
    #leftSection {
        padding: 18px 9px 18px 18px;
    }
}

#leftSection {
    display: flex;
    flex-direction: column;
    flex: 1;
}
