
@media (max-width: 429px) {
    #header > div {
        > div {
            line-height: 20px;
            margin: 25px 20px 20px 30px;

            > h1 {
                font-size: 23px;
            }

            > h4 a span {
                font-size: 11px;
            }

            > div h4 {
                font-size: 12px;
            }
        }
    }
}

@media (min-width: 430px) {
    #header > div {
        > div {
            line-height: 24px;
            margin: 25px 20px 20px 30px;

            > h1 {
                font-size: 30px;
            }

            > h4 a span {
                font-size: 12px;
            }

            > div h4 {
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 550px) {
    #header > div > div {
        margin: 40px 30px 30px 45px;

        > h1 {
            font-size: 28px;
        }

        > h4 a span {
            font-size: 13px;
        }

        > div h4 {
            font-size: 15px;
        }
    }
}

@media (min-width: 730px) {
    #header > div {
        > div {
            margin: 40px 40px 30px 50px;

            > h1 {
                font-size: 36px;
            }

            > h4 a span {
                font-size: 14px;
            }

            > div h4 {
                font-size: 16px;
            }
        }
    }
}

#header {
    background-image: url(/images/header.jpg);
    background-position: center 60%;
    background-size: cover;
    position: relative;
    display: flex;
    color: #fff;

    > div {
        display: flex;
        flex-direction: column;
        flex: 1;

        > div {
            > h1 {
                font-family: vera;
                line-height: 1.25em;
                text-transform: uppercase;
                margin: 0 0 15px 0;

            }

            > div {
                margin: 5px 0 5px 16px;

                > h4 a span {
                    font-style: italic;
                }

                h4 {
                    margin: 0;
                    font-weight: normal;
                }
            }
        }
    }
}
